/*************************HTML Tag Selectors***********************/
div {
    background-color: #FF5C58;
}

body {
    margin: 0;
    text-align: center;
}

h1 {
    margin: 0 auto;
    position: relative;
    top: 60px;
    font-size: 70px;
    color: #d13d3b;
}

p {
    position: relative;
    top: 40px;
    color: #d13d3b;
}
/*************************Class Selectors***********************/

.TopContainer {
    background-color: #FF5C58; 
    position: relative;
    padding-top: 70px;
    height: 700px;
}
    

.MiddleContainer {
    height: 200px;
    width: 200px;
    background-color: red;
}

.BottomContainer {
    height: 200px;
    width: 200px;
    background-color: blue;
}

.TopCloud {
    height: 70px;
    width: auto;
    position: absolute;
    right: 180px;
    top: 50px;
}

.BottomCloud {
    height: 70px;
    width: auto;
    position: absolute;
    left: 180px;
    top: 220px;
}

.Mountain {
    position: absolute;
    left: 200px;
    bottom: 0;
    height: 500px;
    text-align: center;
}
