body {
    margin: 0;
}

h1 {
    margin-top: 0;
}

/*************************Class Selectors***********************/

.TopContainer {
    height: 200px;
    width: 200px;
    background-color: green;

    position: absolute;
    bottom: 0px;
    right: 0;
}

.MiddleContainer {
    height: 200px;
    width: 200px;
    background-color: red;
    position: absolute;
    top: 0;
}

.BottomContainer {
    height: 200px;
    width: 200px;
    background-color: blue;

    position: fixed;
    top: 200px;
    left: 200px;
}